WowSavesTool/Dev/WOW.SaveTool.Data/Service References/ProductCommand/ProductCommand.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://wowway.com/Product/Product.API" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductCommand" targetNamespace="http://wowway.com/Product/Product.API" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IProductCommand_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://wowway.com/Product/Product.API/Imports">
      <xsd:import schemaLocation="https://apiexternaldev.wideopenwest.com/Enterprise/WOWProduct/ProductCommand/ProductCommand.svc?xsd=xsd0" namespace="http://wowway.com/Product/Product.API" />
      <xsd:import schemaLocation="https://apiexternaldev.wideopenwest.com/Enterprise/WOWProduct/ProductCommand/ProductCommand.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WOW.Product.Contract.Fault" />
      <xsd:import schemaLocation="https://apiexternaldev.wideopenwest.com/Enterprise/WOWProduct/ProductCommand/ProductCommand.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductCommand_LogAccountNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:LogAccountNumber" />
  </wsdl:message>
  <wsdl:message name="IProductCommand_LogAccountNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogAccountNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IProductCommand_LogAccountNumber_DbFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WOW.Product.Contract.Fault" name="detail" element="q1:DbFaultException" />
  </wsdl:message>
  <wsdl:message name="IProductCommand_LogAccountNumber_SystemFaultExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SystemFaultException" />
  </wsdl:message>
  <wsdl:message name="IProductCommand_LogAccountNumber_SecurityFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WOW.Product.Contract.Fault" name="detail" element="q2:SecurityFaultException" />
  </wsdl:message>
  <wsdl:message name="IProductCommand_LogAccountNumber_ParameterFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/WOW.Product.Contract.Fault" name="detail" element="q3:ParameterFaultException" />
  </wsdl:message>
  <wsdl:message name="IProductCommand_LogCallAction_InputMessage">
    <wsdl:part name="parameters" element="tns:LogCallAction" />
  </wsdl:message>
  <wsdl:message name="IProductCommand_LogCallAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogCallActionResponse" />
  </wsdl:message>
  <wsdl:message name="IProductCommand_LogCallAction_ParameterFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/WOW.Product.Contract.Fault" name="detail" element="q4:ParameterFaultException" />
  </wsdl:message>
  <wsdl:message name="IProductCommand_LogCallAction_SecurityFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/WOW.Product.Contract.Fault" name="detail" element="q5:SecurityFaultException" />
  </wsdl:message>
  <wsdl:message name="IProductCommand_LogCallAction_DbFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/WOW.Product.Contract.Fault" name="detail" element="q6:DbFaultException" />
  </wsdl:message>
  <wsdl:message name="IProductCommand_LogCallAction_SystemFaultExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SystemFaultException" />
  </wsdl:message>
  <wsdl:message name="IProductCommand_LogOffers_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOffers" />
  </wsdl:message>
  <wsdl:message name="IProductCommand_LogOffers_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOffersResponse" />
  </wsdl:message>
  <wsdl:message name="IProductCommand_LogOffers_DbFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/WOW.Product.Contract.Fault" name="detail" element="q7:DbFaultException" />
  </wsdl:message>
  <wsdl:message name="IProductCommand_LogOffers_SystemFaultExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SystemFaultException" />
  </wsdl:message>
  <wsdl:message name="IProductCommand_LogOffers_ParameterFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/WOW.Product.Contract.Fault" name="detail" element="q8:ParameterFaultException" />
  </wsdl:message>
  <wsdl:message name="IProductCommand_LogOffers_SecurityFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/WOW.Product.Contract.Fault" name="detail" element="q9:SecurityFaultException" />
  </wsdl:message>
  <wsdl:portType name="IProductCommand">
    <wsdl:operation name="LogAccountNumber">
      <wsdl:input wsaw:Action="http://wowway.com/Product/Product.API/IProductCommand/LogAccountNumber" message="tns:IProductCommand_LogAccountNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://wowway.com/Product/Product.API/IProductCommand/LogAccountNumberResponse" message="tns:IProductCommand_LogAccountNumber_OutputMessage" />
      <wsdl:fault wsaw:Action="http://wowway.com/Product/Product.API/IProductCommand/LogAccountNumberDbFaultExceptionFault" name="DbFaultExceptionFault" message="tns:IProductCommand_LogAccountNumber_DbFaultExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://wowway.com/Product/Product.API/IProductCommand/LogAccountNumberSystemFaultExceptionFault" name="SystemFaultExceptionFault" message="tns:IProductCommand_LogAccountNumber_SystemFaultExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://wowway.com/Product/Product.API/IProductCommand/LogAccountNumberSecurityFaultExceptionFault" name="SecurityFaultExceptionFault" message="tns:IProductCommand_LogAccountNumber_SecurityFaultExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://wowway.com/Product/Product.API/IProductCommand/LogAccountNumberParameterFaultExceptionFault" name="ParameterFaultExceptionFault" message="tns:IProductCommand_LogAccountNumber_ParameterFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogCallAction">
      <wsdl:input wsaw:Action="http://wowway.com/Product/Product.API/IProductCommand/LogCallAction" message="tns:IProductCommand_LogCallAction_InputMessage" />
      <wsdl:output wsaw:Action="http://wowway.com/Product/Product.API/IProductCommand/LogCallActionResponse" message="tns:IProductCommand_LogCallAction_OutputMessage" />
      <wsdl:fault wsaw:Action="http://wowway.com/Product/Product.API/IProductCommand/LogCallActionParameterFaultExceptionFault" name="ParameterFaultExceptionFault" message="tns:IProductCommand_LogCallAction_ParameterFaultExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://wowway.com/Product/Product.API/IProductCommand/LogCallActionSecurityFaultExceptionFault" name="SecurityFaultExceptionFault" message="tns:IProductCommand_LogCallAction_SecurityFaultExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://wowway.com/Product/Product.API/IProductCommand/LogCallActionDbFaultExceptionFault" name="DbFaultExceptionFault" message="tns:IProductCommand_LogCallAction_DbFaultExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://wowway.com/Product/Product.API/IProductCommand/LogCallActionSystemFaultExceptionFault" name="SystemFaultExceptionFault" message="tns:IProductCommand_LogCallAction_SystemFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOffers">
      <wsdl:input wsaw:Action="http://wowway.com/Product/Product.API/IProductCommand/LogOffers" message="tns:IProductCommand_LogOffers_InputMessage" />
      <wsdl:output wsaw:Action="http://wowway.com/Product/Product.API/IProductCommand/LogOffersResponse" message="tns:IProductCommand_LogOffers_OutputMessage" />
      <wsdl:fault wsaw:Action="http://wowway.com/Product/Product.API/IProductCommand/LogOffersDbFaultExceptionFault" name="DbFaultExceptionFault" message="tns:IProductCommand_LogOffers_DbFaultExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://wowway.com/Product/Product.API/IProductCommand/LogOffersSystemFaultExceptionFault" name="SystemFaultExceptionFault" message="tns:IProductCommand_LogOffers_SystemFaultExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://wowway.com/Product/Product.API/IProductCommand/LogOffersParameterFaultExceptionFault" name="ParameterFaultExceptionFault" message="tns:IProductCommand_LogOffers_ParameterFaultExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://wowway.com/Product/Product.API/IProductCommand/LogOffersSecurityFaultExceptionFault" name="SecurityFaultExceptionFault" message="tns:IProductCommand_LogOffers_SecurityFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductCommand" type="tns:IProductCommand">
    <wsp:PolicyReference URI="#BasicHttpBinding_IProductCommand_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogAccountNumber">
      <soap:operation soapAction="http://wowway.com/Product/Product.API/IProductCommand/LogAccountNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DbFaultExceptionFault">
        <soap:fault use="literal" name="DbFaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SystemFaultExceptionFault">
        <soap:fault use="literal" name="SystemFaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SecurityFaultExceptionFault">
        <soap:fault use="literal" name="SecurityFaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ParameterFaultExceptionFault">
        <soap:fault use="literal" name="ParameterFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LogCallAction">
      <soap:operation soapAction="http://wowway.com/Product/Product.API/IProductCommand/LogCallAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ParameterFaultExceptionFault">
        <soap:fault use="literal" name="ParameterFaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SecurityFaultExceptionFault">
        <soap:fault use="literal" name="SecurityFaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DbFaultExceptionFault">
        <soap:fault use="literal" name="DbFaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SystemFaultExceptionFault">
        <soap:fault use="literal" name="SystemFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LogOffers">
      <soap:operation soapAction="http://wowway.com/Product/Product.API/IProductCommand/LogOffers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DbFaultExceptionFault">
        <soap:fault use="literal" name="DbFaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SystemFaultExceptionFault">
        <soap:fault use="literal" name="SystemFaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ParameterFaultExceptionFault">
        <soap:fault use="literal" name="ParameterFaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SecurityFaultExceptionFault">
        <soap:fault use="literal" name="SecurityFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductCommand">
    <wsdl:port name="BasicHttpBinding_IProductCommand" binding="tns:BasicHttpBinding_IProductCommand">
      <soap:address location="https://apiexternaldev.wideopenwest.com/Enterprise/WOWProduct/ProductCommand/ProductCommand.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>