LinqToXmlFromFile/LinqToXmlFromFile/CustomersAndOrders.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Customers">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Customer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CompanyName" type="xs:string" />
                    <xs:element name="ContactName" type="xs:string" />
                    <xs:element name="ContactTitle" type="xs:string" />
                    <xs:element name="Phone" type="xs:string" />
                    <xs:element minOccurs="0" name="Fax" type="xs:string" />
                    <xs:element name="FullAddress">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Address" type="xs:string" />
                          <xs:element name="City" type="xs:string" />
                          <xs:element name="Region" type="xs:string" />
                          <xs:element name="PostalCode" type="xs:unsignedInt" />
                          <xs:element name="Country" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="CustomerID" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Orders">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Order">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CustomerID" type="xs:string" />
                    <xs:element name="EmployeeID" type="xs:unsignedByte" />
                    <xs:element name="OrderDate" type="xs:dateTime" />
                    <xs:element name="RequiredDate" type="xs:dateTime" />
                    <xs:element name="ShipInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ShipVia" type="xs:unsignedByte" />
                          <xs:element name="Freight" type="xs:decimal" />
                          <xs:element name="ShipName" type="xs:string" />
                          <xs:element name="ShipAddress" type="xs:string" />
                          <xs:element name="ShipCity" type="xs:string" />
                          <xs:element name="ShipRegion" type="xs:string" />
                          <xs:element name="ShipPostalCode" type="xs:unsignedInt" />
                          <xs:element name="ShipCountry" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="ShippedDate" type="xs:dateTime" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>